<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>出错啦</title>
		<!-- Bootstrap core CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="assets/css/dashboard.css" rel="stylesheet">
		<link rel="shortcut icon" th:href="@{/assets/img/favicon.ico}" />

	</head>

	<body>
		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
			<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="http://getbootstrap.com/docs/4.0/examples/dashboard/#">Company name</a>
			<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<a class="nav-link" href="http://getbootstrap.com/docs/4.0/examples/dashboard/#">Sign out</a>
				</li>
			</ul>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<!--引入sidebar-->
				<div th:replace="commons/bar::#sidebar(activeUri='main.html')"></div>


				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<h1>这是4xx错误页面</h1>
					<h3>status:[[${status}]]</h3>
					<h3>error:[[${error}]]</h3>
					<h3>errors:[[${errors}]]</h3>
					<h3>exception:[[${exception}]]</h3>
					<h3>message:[[${message}]]</h3>
					<h3>timestamp:[[${timestamp}]]</h3>
					<hr>
				</main>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="assets/js/jquery-3.2.1.slim.min.js" ></script>
		<script type="text/javascript" src="assets/js/popper.min.js" ></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js" ></script>

		<!-- Icons -->
		<script type="text/javascript" src="assets/js/feather.min.js" ></script>

	</body>

</html>